# Eclipse
.classpath
.project
.settings/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Compiled class file
*.class
 
# Intellij
.idea/
*.iml
*.iws
 
# Mac
.DS_Store


# Log file
*.log

# Maven
log/
**/target/
**/test/

# Sonarlint plugin
.idea/sonarlint

# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!/.mvn/wrapper/maven-wrapper.jar